[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Delorean = "*"
python-dotenv = "*"
pygsheets = "*"
humanize = "*"
requests = "*"

[requires]
python_version = "3.7"
